<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/YukindieModel.csdl|res://*/YukindieModel.ssdl|res://*/YukindieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER;initial catalog=ZeusFinal;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZeusFinalEntities" connectionString="metadata=res://*/YukindieModel2.csdl|res://*/YukindieModel2.ssdl|res://*/YukindieModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER;initial catalog=ZeusFinal;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/YukindieModel2.csdl|res://*/YukindieModel2.ssdl|res://*/YukindieModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER;initial catalog=ZeusFinal;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/YukindieModel.csdl|res://*/YukindieModel.ssdl|res://*/YukindieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER;initial catalog=ZeusFinal;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/YukindieModel.csdl|res://*/YukindieModel.ssdl|res://*/YukindieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER;initial catalog=ZeusFinal;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="Entities" connectionString="metadata=res://*/YukindieModel.csdl|res://*/YukindieModel.ssdl|res://*/YukindieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER;initial catalog=ZeusFinal;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>