@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script>
        var urlGetAll = '@Url.Action("GetAll", "Evento", new { area = "Admin" })';
        var PerfilId = 2;
    </script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/f/Admin/Evento/Index.js"></script>
}

<div class="col-lg-12">
    <section class="box">
        <div class="content-body" style="display: block;">
            <div class="row">
                <div class="page-header">
                    <a href="~/Admin/Evento/Create" class="pull-right btn btn-success">Nuevo Evento</a>
                    @*<a href="~/Admin/Album/Index" class="pull-right btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>*@
                    <h2><strong>Tús Eventos</strong></h2>
                </div>
                @*<div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="~/Admin/Album/Gestion" style="width:100%" class="btn btn-success">Nuevo Álbum</a>
                            </div>
                        </div>
                    </div>
                    <hr />*@
                <div class="col-xs-12">
                    <table id="tblEmployee" class="display" cellspacing="0" data-page-length='5' width="100%">
                        <thead>
                            <tr>
                                @*<th>EventoId</th>*@
                                <th>Título</th>
                                <th>Fecha</th>
                                <th>Precio Regular</th>
                                @*<th>Opciones</th>*@
                                @*<th>Precio</th>
                                    <th>Opciones</th>*@
                                @*<th>Formato</th>
                                    <th>Contenido</th>
                                    <th>Precio</th>
                                    <th>Oferta</th>
                                    <th>LinkCompra</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

